body{
    background-color:rgb(184, 213, 232);
}
*{
    box-sizing:border-box;
}
.grid{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    width:40rem;
    margin-inline:auto;
}
.box{
    border:1px solid rgb(35, 35, 75);
    width:200px;
    aspect-ratio: 1;
}
.mole{
    background-image:url("mole.jpg");
    background-size:cover;
    width:200px;
}